:root {
    --light: #fff8e7;
    --primary: #43b3ae;
    --secondary: #0a7e8c;
    --complementary: #d71868;
    --dark: #001c3d;

    height: 100%
}

body {
  display: flex;
  height: inherit;
  margin: inherit;
  flex-direction: column;

  font-family: -apple-system, sans-serif;

  color: var(--dark);
  background: var(--light);
}

header, footer {
  display: inherit;
  flex: 0 0 64px;

  color: var(--light);
  font-size: 18pt;
  font-weight: 300;

  background: var(--primary);
  box-shadow: 0 0 8px var(--dark);
}

footer {
  background: var(--dark);
}

  button, h1, span {
    display: inherit;
    box-sizing: border-box;
    margin: inherit;
    padding: 16px;
    align-items: center;
    justify-content: center;

    font-size: inherit;
    font-weight: inherit;

    border: inherit;
  }

  button {
    color: inherit;
    font-weight: 500;

    background: var(--secondary);
  }

  button:hover {
    background: var(--complementary);
  }

section {
  --navbar-width: 196px;

  display: inherit;
  position: relative;
  flex: 1 0 0;
}

  nav {
    overflow-y: auto;
    position: absolute;
    left: calc(-1 * var(--navbar-width));
    width: var(--navbar-width);
    height: 100%;

    color: var(--light);

    background: var(--secondary);

    transition: left 0.5s;
  }

  nav.displayed {
    left: 0
  }

  @media (min-width: 600px) { nav {
    left: 0
  } }

    ul {
      display: flex;
      margin: inherit;
      padding: inherit;
      flex-direction: column;
    }

      li {
        display: inherit;
        padding-left: 16px;
        flex: 0 0 48px;
        align-items: center;
      }

      li:hover {
        background: var(--primary);
      }

  main {
    overflow-y: auto;
    padding: 0 16px;
  }

  @media (min-width: 600px) { main {
    margin-left: var(--navbar-width);
  } }
